.container-header{
    width: 100%;
    background-color: #2A6041;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;    

}

.container-header a {
    color: white;
    margin-right: 70px;
}

