.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*titulo*/

div {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}


.titulo {
  font-size: 2.5rem;
  color: #e63946; 
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*botones*/
.menu {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.botones button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button:hover {
  background-color: #a32834;
}

/*imagenes*/
.imagenes {
  width: 100%;
  height: auto;
  border-radius: 125px;
}

.descripccion {
  text-align: center;
  padding: 10px;
}

.item {
  margin-bottom: 20px;
  text-align: center;
}
.imagenes:hover{
  transform: scale(1.1);
}

